non-project-files/
inactive/
.buildozer/
.cache/
*.spec
components/__pycache__/layout.cpython-39.pyc
*.pyc
packages/*
projects/
ubuntu-env/
macos-env/
win-env/
venv/
*.spec
*.pyc
bin/crosskproject1-0.1-armeabi-v7a-debug.apk
