
non-project-files/
.buildozer/
inactive/
.cache/
*.spec
components/__pycache__/layout.cpython-39.pyc
*.pyc
packages/*
projects/
ubuntu-env/
macos-env/
win-env/
venv/
*.spec
*.pyc
.buildozer/android/platform/build-armeabi-v7a/build/bootstrap_builds/sdl2/ant.properties
